@model List<TheConnoisseur.Models.Beer>

<p>A few beer journals will be displayed.</p>

<!-- The journal entries shown here should be a brief overview; include the icon, title, maker, rating, and description-->