
@{
    ViewBag.Title = "Index";
}

<h2>Administrative Tasks</h2>

<hr />

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Manage Roles", "ManageRoles", "Authorization") <br />
    @Html.ActionLink("Manage Members", "ManageMembers", "Authorization")
    <br /><br />
}

@Html.ActionLink("Manage Beer Journals", "ManageBeer", "Authorization")

