
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Update beer icons...", "UpdateBeerIcons")
<h2>Data Summary</h2>

@Html.Action("Authors")

<hr />

@Html.Action("Beers")

<hr />

@Html.Action("Coffees")
